<div class="sidebar-version">
    <div class="brand footer-copyright-text text-center small text-secondary">
        © Jonathan Glässel {{ buildYear }} <br>
        Version: {{ versionnumber }} | Build: {{ buildNumber }}
    </div>
</div>

<div class="collapse sidebar-mobile-version px-3 pb-3" id="sidebarMobileVersion">
    <div class="brand footer-copyright-text text-center small text-secondary">
        © Jonathan Glässel {{ buildYear }} <br>
        Version: {{ versionnumber }} | Build: {{ buildNumber }}
    </div>
</div>